<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="miaApp">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    </head>
    <body>
        <div ng-controller="PrimoController">
            <h4>Il piu semplice programma contatore</h4>
            <button ng-click="aggiungi(1)" class="button">Add</button>
            <a ng-click="sottrai(1)" class="button alert">Subtract</a>
            <h4>Conteggio corrente: {{ contatore }}</h4>
        </div>
        <script type="text/javascript" src="esercizio4.js"></script>
    </body>
</html>
